<app-header (featureSelected)='onNavigate($event)'></app-header>
<div class="container">
   
  <h3>You have ({{numberOfNotes}}) Notes</h3>
  <button class="btn btn-danger mr-2"(click)="deleteOlderNote()">DeleteOlderNotes</button>
  <button class="btn btn-danger"(click)="deleteLastNote()">DeleteLastNote</button>
  <h2>All my notes</h2>
  
  <div *ngFor='let arrOfNote of arrOfNotes' class="mb-2" >
    <div class="card mb-2" >
      <div class="card-header"> {{arrOfNote.name}}</div>
      <div class="card-body">  {{arrOfNote.content}}</div> 
    </div>
    <!-- <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#myModal"> view</button>Button to Open the Modal -->
    <button class="btn btn-primary mr-1">view</button>
    <button class="btn btn-success mr-1">change</button>
    <button class="btn btn-danger"(click)="deleteNote(arrOfNote)" >Delete</button>
  </div><br>
  


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  <hr>
  <app-add-notes 
  *ngIf="loadedfeature === 'addNotes'"
  (AddNoteFromAddNoteComp)='addNote($event)'>
  </app-add-notes>


  <app-change-notes  *ngIf="loadedfeature === 'changeNotes'"></app-change-notes>

</div>
